body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: green;
}

#gameBoard {
    width: 100vmin;
    height: 100vmin;
    background-color: grey;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: blue;
    border: .25vmin solid black;
}

.food {
    background-color: yellow;
    border: .25vmin solid black;
}