body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #fd4949;
}

#container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#gameBoard {
    width: 70vmin;
    height: 70vmin;
    background-color: grey;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    display: none;
}

.snake {
    background-color: blue;
    border: .25vmin solid black;
}

.food {
    background-color: yellow;
    border: .25vmin solid black;
}

#info #title {
    font-family: "Bauhaus 93", serif;
    font-size: 52px;
    font-weight: bold;
}

#info #score {
    font-family: "Bauhaus 93", serif;
    font-size: 32px;
    display: none;
}

#commands {
    font-family: "Bauhaus 93", serif;
    font-size: 32px;
    display: none;
}

#startButton {
    margin-top: 30px;
    font-family: "Bauhaus 93", serif;
    font-size: 32px;
    font-weight: bold;
}